<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
  </head>
  <body>
    <table class="tg">
      <!-- Cabeza de la tabla -->
      <thead>
        <tr>
          <th class="tg-7btt">Identificador</th>
          <th class="tg-7btt">Latitud</th>
          <th class="tg-7btt">Longitud</th>
          <th class="tg-amwm">Cercanías</th>
        </tr>
      </thead>
      <!-- Elementos de la tabla -->
      <tbody id="filas">
      </tbody>
    </table>
    <script src="/js/WebSocketInterface.js"></script>
    <script src="/js/admin.js" charset="utf-8"></script>
  </body>
</html>
